<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <bean id="classicPrinter" class="com.kodedu.coupling.ClassicPrinter"></bean>

    <bean id="lazerPrinter" class="com.kodedu.coupling.LazerPrinter"></bean>

    <bean id="PrinterService" class="com.kodedu.coupling.PrinterService">
        <constructor-arg ref="lazerPrinter"/>

    </bean>


</beans>